@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}
/* banner section */
.banner{
    background: url("../images/donation7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    color: #dddddd;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}
.banner-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1.banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
}

.section-desc {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 29px;
}
.primary-btn {
    background: #FF5959;
    border-radius: 5px;
    padding: 13px 33px;
    font-size: 17px;
    color: #ffffff;
    border: 0;
}

/* donate section */
.donate{
    padding: 80px 0;
}
.donate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-heading{
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}
.amount {
    display: flex;
    gap: 9px;
    margin-bottom: 37px;
}
.taka {
    width: 135px;
    height: 123px;
    background: #cfcfcf9a;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
}
p.other-amount {
    margin-bottom: 20px;
    color: #B3B3B3;
}
hr {
    margin-bottom: 29px;
}

/* Donate plan */
h3.section-heading.donate-heading {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
p.section-desc.donate-desc {
    text-align: center;
    color: #707070;
}
section.donate-plan {
    padding: 80px;
}
.donate-items {
    display: flex;
    gap: 25px;
}
.donate-item {
    padding: 50px 27px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.donate-item:nth-child(2){
    background: rgba(255, 89, 89, 0.1);
}
.donate-item:nth-child(3){
    background: rgba(252, 248, 2, 0.1);
}
img.donate-item-icon {
    margin-bottom: 20px;
}
h4.donate-item-title {
    margin-bottom: 15px;
    font-size: 24px;
}
p.donate-item-desc {
    color: #707070;
    font-size: 15px;
}
/* footer design */
.footer-desc {
    text-align: center;
}

footer {
    padding: 30px 0;
    background: #0B0D17;
}
h2.footer-title {
    font-size: 36px;
    color: #FF5959;
    margin-bottom: 12px;
    font-family: 'Lobster';
}
p.footer-desc {
    color: #d9dbe1b0;
    font-size: 14px;
}